<div>
    <form>
        <label for="search">Member Name: </label>
        <select (change)="handleSelectionClick($event)">
            <option *ngFor="let member of allMembers()" [value]="member._id">{{member.Ultimate_Recipient}}</option>
        </select>
    </form>
    <form>
        <label for="search">from: </label>
        <input type="date" (change)="handleFromChange($event)">
        <label for="search">to: </label>
        <input type="date" (change)="handleToChange($event)">
    </form>
    <button *ngIf="is_admin()">Add New</button>
    <button *ngIf="is_admin()" (click)="deleteHandler()">Delete Member</button>
</div>
<ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData()"
  [columnDefs]="headings()"
  (gridReady)="handleReady($event)"
  (cellValueChanged)="handleRowEditingStopped($event)"
  ></ag-grid-angular>