<div>
    <form>
        <label for="search">Member Name: </label>
        <select (change)="handleSelectionChange($event)">
            <option *ngFor="let ba of allBa()">{{ba.Business_Area}}</option>
        </select>
    </form>
    <form>
        <label for="from">from: </label>
        <input type="date" (change)="handleFromChange($event)">
        <label for="to">to: </label>
        <input type="date" (change)="handleToChange($event)">
    </form>
    <button *ngIf="is_admin()" (click)="addHandler()">Add</button>
    <button *ngIf="is_admin()" (click)="renameHandler()">Rename</button>
</div>
<ag-grid-angular
  style="width: 100%; height: 500px;"
  [rowData]="rowData()"
  [columnDefs]="headings()"
  (gridReady)="handleReady($event)"
  ></ag-grid-angular>
