<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <main>
    <app-navbar></app-navbar>
      <h1> {{ title }} </h1>
      <button (click)="toMemberMode()">Member</button>
      <button (click)="toBusinessMode()">Business</button>
      <button (click)="toBusinessAreaMode()">BusinessArea</button>

      <app-members *ngIf="mode=='members'"></app-members>
      <app-business-area *ngIf="mode=='businessArea'"></app-business-area>
      <app-business *ngIf="mode=='business'"></app-business>
  </main>
  <router-outlet />
</body>
</html>

