<div>
    <form>
        <label for="search">Offerer From: </label>
        <select (change)="handleSelectionChange($event)">
            <option *ngFor="let bg of allB()" [value]="bg._id">{{bg._id}}</option>
        </select>
    </form>
    <form>
        <label for="from">from: </label>
        <input type="date" (change)="handleFromChange($event)">
        <label for="to">to: </label>
        <input type="date" (change)="handleToChange($event)">
    </form>
    <td *ngIf="is_admin()"><button (click)="renameHandler()">Rename</button></td>
</div>

<table>
    <thead>
        <tr>
            <th>Date of Offer</th>
            <th>Description of Offer</th>
            <th>Details of Contract</th>
            <th>Estimated Gift Value</th>
            <th>Offered From</th>
            <th>Offered To</th>
            <th>Reason for Offer</th>
            <th>Action Taken</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gift of selectedBGifts()">
            <td>{{gift.Date_of_Offer}}</td>
            <td>{{gift.Description_of_offer}}</td>
            <td>{{gift.Details_of_contract}}</td>
            <td>{{gift.Estimated_Gift_Value}}</td>
            <td>{{gift.Offered_From}}</td>
            <td>{{gift.Offered_to}}</td>
            <td>{{gift.Reason_for_offer}}</td>
            <td>{{gift.Action_Taken}}</td>
        </tr>
    </tbody>
</table>
