<div>
    <form>
        <label for="search">Offerer From: </label>
        <select (change)="handleSelectionChange($event)">
            <option *ngFor="let bg of allB()" [value]="bg._id">{{bg._id}}</option>
        </select>
    </form>
    <form>
        <label for="from">from: </label>
        <input type="date" (change)="handleFromChange($event)">
        <label for="to">to: </label>
        <input type="date" (change)="handleToChange($event)">
    </form>
    <td *ngIf="is_admin()"><button (click)="renameHandler()">Rename</button></td>
</div>

<ag-grid-angular
  style="width: 100%; height: 500px;"
  [rowData]="rowData()"
  [columnDefs]="headings()"
  (gridReady)="handleReady($event)"
  ></ag-grid-angular>
