
<nav>
    <p>{{ title() }}</p>
    <button *ngIf="!isPopupVisible() && !is_logged_in()" (click)="togglePopup()">Login</button>
    <button *ngIf="is_logged_in()" (click)="logoutHander()"> logout from {{ username() }} </button>
    <button *ngIf="is_admin()">Upload CSV</button>
</nav>

<div class="popup" *ngIf="isPopupVisible() && !is_logged_in()">
    <div class="popup-content">
      <form (submit)="loginHandler($event)">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        
        <button type="submit">Submit</button>
        <button type="button" (click)="togglePopup()">Cancel</button>
      </form>
    </div>
</div>
